# order is the order pip will install, so if package A depends on B make sure B comes first
# postgres python driver
psycopg2>=2.6.1
# ORM tool
SQLAlchemy>=1.0.11
# database migrations
alembic>=0.8.6
# support to yaml file format
PyYAML>=3.11
# json schema validator
jsonschema>=2.5.1
# support for ldap authentication
ldap3>=1.3.3
# rest-api
flask>=0.10.1
# manage db session from flask (requirement from potion)
Flask-SQLAlchemy>=2.2
# help create the endpoints for the rest-api
flask-potion>=0.12.6
# template engine for the automatic installation files
jinja2>=2.8
# lock on 2.3.0 due to bug with detecting cpu quantity on s390x
ansible==2.3.0
requests>=2.13.0
# tessia-baselib and its dependencies
https://gitlab.com/tessia-project/tessia-baselib.git@0bf307182fe8106dbd13#egg=tessia-baselib
