# order is the order pip will install, so if package A depends on B make sure B comes first
# for api communication
Potion-client>=2.4.1
# cmdline client library
click~=7.0
# support to yaml file format
PyYAML>=3.11
jsonschema>=2.5.1,<=4.14.0
